<ion-view view-title="360nobs">
 <ion-nav-buttons side="secondary">
   <button class="button button-icon ion-ios-search-strong" ng-click="showFilterBar()"></button>
 </ion-nav-buttons>
  <ion-content>
    <ion-list>
        <ion-item ng-repeat="post in posts" href="#/app/posts/{{post.id}}" class="card article">

          <div class="item item-image">
            <img src="{{post.img}}">
            <button ng-click="share('{{post.title}}')" class="button button-outline button-light">
              <i class="icon ion-android-share"></i>Share
            </button>
          </div>
          <div class="item">
            <h2 class="title">{{post.title}}</h2>
            <span class="meta">{{post.meta}}</span>
          </div>


        </ion-item>
    </ion-list>
  </ion-content>
</ion-view>