/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
*/

$royal:                           #610070 !default;
$dark:                            #222 !default;

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Import Libraries
@import
  "www/lib/ionic/scss/ionic",
  "www/lib/ionic-filter-bar/scss/ionic.filter.bar";

// Customizations

@import
  "modules/side-nav",
  "modules/article-card",
  "modules/active";

