.card.article {
  .item-content { padding: 0; }

  .item-image {
    position: relative;
    max-height: 220px;
  }

  .button {
    position: absolute;
    z-index: 99;
    bottom: 18px;
    left: 18px;
    color: #fff;
    border-color: #fff;
    border-width: 2px;
    
    &.activated {
      background-color: $royal;
      border-color: $royal;
    }
    
    .icon {
      margin-right: 10px;
    }
  }

  .title {
    white-space: normal;
    font-weight: 700;
    font-family: "Oswald";
  }
  
  .meta {
    display: inline-block;
    border-left: 5px solid $royal;
    padding-left: 5px;
    font-size: 80%;
    line-height: 1;
    text-transform: uppercase;
  }
}