.side-nav {
  background: $dark;

  .list, .scroll {
    background-color: transparent;
  }

  .item,
  .item-content,
  .item-complex {
	background-color: transparent;
    border-color: transparent;
    color: #fff;
  }

  .item.active,
  .item.activated,
  .item-complex.active .item-content,
  .item-complex.activated .item-content,
  .item .item-content.active,
  .item .item-content.activated {
    border-color: $royal;
    background-color: $royal;
  }

}